---
import Layout from '@layouts/layout.astro'
---

<Layout title="home | Dennis Kasper">
  <h2 class="mb-8 font-bold">hi, I am Dennis 👋</h2>
  <p class="mb-8">
    I am an engineer with a passion for solving problems and windsurfing. Currently, I work as a full-stack software
    engineer in the automotive industry.
  </p>
  <q>Make it work, make it right, make it fast.</q>
</Layout>
