---
import Layout from '@layouts/layout.astro'
---

<Layout title="home | Dennis Kasper">
  <h1 class="text-2xl mb-8 font-bold">hi, I am Dennis 👋</h1>
  <p class="mb-8">
    I am an engineer with a passion for solving problems and windsurfing. Currently, I work as a full-stack software
    engineer in the automotive industry.
  </p>

  <figure class="border-l-4 border-gray-300 dark:border-gray-600 pl-4 text-gray-600 dark:text-gray-400 italic">
    <blockquote>
      <p>"Make it work, make it right, make it fast."</p>
    </blockquote>
    <figcaption class="mt-2 text-sm font-medium not-italic text-gray-500 dark:text-gray-500">— Kent Beck</figcaption>
  </figure>
</Layout>
