---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Dennis Kasper">
	<h2 class="mb-8 font-bold">hi, I'm dennis 👋</h2>
	<p class="mb-8">
		I'am an engineer, a problem solver and windsurfer. I currently work in the
		automotive industry as a full-stack software engineer.
	</p>
	<q>Make it work, make it right, make it fast</q>
</Layout>
