---
const { title, url } = Astro.props
// https://docs.astro.build/en/reference/configuration-reference/#buildformat
const pathname = new URL(Astro.url).pathname
const isActive = pathname === url
---

<a
  class="relative group font-body text-sm font-medium tracking-wide uppercase"
  href={url}
>
  <span class:list={[
    'transition-colors duration-300',
    { 'text-dark dark:text-light': isActive },
    { 'text-muted-light dark:text-muted-dark group-hover:text-dark dark:group-hover:text-light': !isActive },
  ]}>
    {title}
  </span>
  <span
    class:list={[
      'block h-[1.5px] bg-accent absolute left-0 -bottom-1 rounded-full',
      { 'w-full': isActive },
      {
        'w-0 group-hover:w-full transition-[width] ease-out duration-400': !isActive,
      },
    ]}
  >
  </span>
</a>
