html {
  overflow-y: scroll;
}

.markdown-content h1 {
  font-size: 2em;
  margin-top: 0;
}

.markdown-content h2 {
  font-size: 1.5em;
  margin-top: 1em;
}

.markdown-content h3 {
  font-size: 1.2em;
  margin-top: 0.5em;
}

.markdown-content p {
  margin-bottom: 1em;
}

.markdown-content ul,
.markdown-content ol {
  padding-left: 25px;
}

.expertise-section {
  margin-top: 15px;
}

.expertise-section > ul > li {
  margin-bottom: 1.5em;
}

.expertise-section > ul > li:last-child {
  margin-bottom: 0;
}

.about-me-section {
  margin-top: 15px;
}
