---
import NavLink from '../components/nav-link.astro'
import NavSocial from '../components/nav-social.astro'

export interface Props {
  title?: string
}

const { title = 'Dennis Kasper' } = Astro.props as Props
const year = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="icon"
      href="/favicon.svg"
      type="image/svg+xml"
    />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="/styles/global.css"
    />
  </head>
  <body class="font-mono bg-light dark:bg-dark text-dark dark:text-light">
    <main class="md:container md:mx-auto w-full min-h-screen px-4 relative">
      <header class="flex items-center justify-between py-8">
        <nav class="flex items-center justify-center gap-x-8 text-xl">
          <NavLink
            title="home"
            url="/"
          />
          <NavLink
            title="cv"
            url="/cv/"
          />
          <NavLink
            title="blog"
            url="/blog/"
          />
        </nav>
        <nav class="flex items-center justify-center gap-x-4">
          <NavSocial
            icon="github"
            link="https://github.com/denniskasper"
            css="dark:bg-white"
          />
          <NavSocial
            icon="linkedin"
            link="https://www.linkedin.com/in/dennis-kasper-995b2112b"
            css="dark:bg-white"
          />
          <img
            data-icon
            src="/icons/moon.svg"
            alt="sun/moon"
            class="h-6 w-6 cursor-pointer ml-2"
          />
        </nav>
      </header>
      <slot />
      <footer class="mt-20">&copy; {year} Dennis Kasper</footer>
      <div
        data-banner
        class="absolute bottom-0 left-0 right-0 px-4 pb-6 bg-gray-200 dark:bg-gray-800 text-center w-full min-w-screen hidden"
      >
        <p class="text-lg flex justify-center items-center mt-4">
          This website uses local storage to save your theme preferences. Do you accept?
        </p>
        <button
          data-acceptButton
          class="m-5 p-3 border-none rounded-md cursor-pointer text-black bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-500 dark:hover:bg-gray-700"
        >
          Accept
        </button>
        <button
          data-declineButton
          class="m-5 p-3 border-none rounded-md cursor-pointer text-black bg-gray-400 hover:bg-gray-500 dark:text-white dark:bg-gray-500 dark:hover:bg-gray-700"
        >
          Decline
        </button>
      </div>
    </main>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const localStorageAccept = 'denniskasper.com-storageAccepted'
    const localStorageTheme = 'denniskasper.com-theme'

    const iconSunSource = '/icons/sun.svg'

    let currentTheme = 'light'

    const banner = document.querySelector('[data-banner]') as HTMLDialogElement
    const acceptButton = document.querySelector('[data-acceptButton]') as HTMLButtonElement
    const declineButton = document.querySelector('[data-declineButton]') as HTMLButtonElement
    const icon = document.querySelector('[data-icon]') as HTMLImageElement

    const storageAccepted = localStorage.getItem(localStorageAccept)

    if (storageAccepted === null) {
      banner.style.display = 'block'
    }

    if (storageAccepted === 'false') {
      banner.style.display = 'none'
    }

    acceptButton.addEventListener('click', () => {
      localStorage.setItem(localStorageAccept, 'true')
      banner.style.display = 'none'

      localStorage.setItem(localStorageTheme, currentTheme)
    })

    declineButton.addEventListener('click', () => {
      banner.style.display = 'none'
      localStorage.setItem(localStorageAccept, 'false')
    })

    const locaStorageTheme = localStorage.getItem(localStorageTheme)

    if (locaStorageTheme === 'dark') {
      document.documentElement.classList.add('dark')
      icon.src = iconSunSource
      currentTheme = 'dark'
    }

    icon?.addEventListener('click', () => {
      document.documentElement.classList.toggle('dark')

      const storageAccepted = localStorage.getItem(localStorageAccept)

      if (document.documentElement.classList.contains('dark')) {
        icon.src = iconSunSource
        currentTheme = 'dark'

        if (storageAccepted === 'true') {
          localStorage.setItem(localStorageTheme, 'dark')
        }
      } else {
        icon.src = '/icons/moon.svg'
        currentTheme = 'light'

        if (storageAccepted === 'true') {
          localStorage.setItem(localStorageTheme, 'light')
        }
      }
    })
  })
</script>
