name: CI/CD

on:
  push:
    branches: main
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        uses: ./.github/actions/setup

      - name: Build production bundle
        run: pnpm build

      - name: Archive dist folder
        run: tar -czf dist.tar.gz ./dist

      - name: Copy files via ssh
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          source: dist.tar.gz
          target: /var/www/denniskasper.com/html
          rm: true

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Extract archive and move & delete files
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          script: |
            tar -zxvf /var/www/denniskasper.com/html/dist.tar.gz -C /var/www/denniskasper.com/html
            mv /var/www/denniskasper.com/html/dist/* /var/www/denniskasper.com/html
            rm -rf /var/www/denniskasper.com/html/dist.tar.gz /var/www/denniskasper.com/html/dist
